<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypc.mysql.json.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ypc.mysql.json.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="address" property="address" jdbcType="LONGVARCHAR" typeHandler="com.ypc.mysql.json.config.JSONHandler" />
    <result column="family" property="family" jdbcType="LONGVARCHAR" typeHandler="com.ypc.mysql.json.config.JSONHandler" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, mobile, sex, age, password,address,family
  </sql>

  <select id="queryByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where ${column} -> "$.${key}" = #{value}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- insert new user -->
  <insert id="insert" parameterType="com.ypc.mysql.json.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into t_user
    (username, mobile, sex, age, password, address, family)
    values
      (#{username,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{sex,jdbcType=SMALLINT}, #{age,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR},
      #{address,jdbcType=LONGVARCHAR,typeHandler=com.ypc.mysql.json.config.JSONHandler},
      #{family,jdbcType=LONGVARCHAR,typeHandler=com.ypc.mysql.json.config.JSONHandler})
  </insert>

  <insert id="insertSelective" parameterType="com.ypc.mysql.json.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR,typeHandler=com.ypc.mysql.json.config.JSONHandler},
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="updateByPrimaryKey" parameterType="com.ypc.mysql.json.model.User">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      age = #{age,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=LONGVARCHAR,typeHandler=com.ypc.mysql.json.config.JSONHandler},
      family = #{family,jdbcType=LONGVARCHAR,typeHandler=com.ypc.mysql.json.config.JSONHandler})
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>